* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global class */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* paragraph style */
.paragraph-style {
  font-weight: 300;
  color: hsl(215, 51%, 70%);
  line-height: 25px;
}

body {
  background-color: hsl(217, 54%, 11%);
  font-family: "Outfit", sans-serif;
}

.container {
  height: 100vh;
}

.container .card {
  width: 375px;
  background-color: hsl(216, 50%, 16%);
  padding: 20px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.container .card .equilibrium-img {
  position: relative;
}

.container .card .equilibrium-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 335px;
  background-image: url(../Images/icon-view.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(0, 255, 255, 0.5);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  display: none;
}

.container .card .equilibrium-img:hover::after {
  display: block;
}

.container .card .equilibrium-img img {
  height: 335px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.container .card h1 {
  font-size: 26px;
  font-weight: 600;
  color: hsl(0, 0%, 100%);
  margin: 20px 0;
}

.container .card h1:hover {
  color: hsl(178, 100%, 50%);
}

.container .card > p {
  margin-bottom: 20px;
  font-size: 18px;
}

.container .card .sale {
  justify-content: space-between;
  position: relative;
}

.container .card .sale::after {
  position: absolute;
  content: "";
  height: 1px;
  width: 100%;
  bottom: -25px;
  background-color: hsl(215, 32%, 27%);
}

.container .card .sale img {
  margin-right: 5px;
}

.container .card .sale .left span {
  color: hsl(178, 100%, 50%);
  font-weight: 400;
}

.container .card .sale .right span {
  color: hsl(215, 51%, 70%);
}

.container .card .creator {
  margin-top: 40px;
  justify-content: flex-start;
}
.container .card .creator img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.container .card .creator p {
  font-size: 15px;
  font-weight: 400;
}

.container .card .creator p span {
  color: hsl(0, 0%, 100%);
}

.container .card .creator p span:hover {
  color: hsl(178, 100%, 50%);
}
